In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('echocardiogram.csv',delimiter=',',header=None)

In [4]:
data.head()

   0  1   2  3      4       5      6   7      8      9     10 11 12
0  11  0  71  0  0.260       9  4.600  14      1      1  name  1  0
1  19  0  72  0  0.380       6  4.100  14  1.700  0.588  name  1  0
2  16  0  55  0  0.260       4  3.420  14      1      1  name  1  0
3  57  0  60  0  0.253  12.062  4.603  16  1.450  0.788  name  1  0
4  19  1  57  0  0.160      22  5.750  18  2.250  0.571  name  1  0

In [5]:
data.describe()

         0    1    2    3    4    5    6    7    8      9     10   11   12
count   132  132  132  132  132  132  132  132  132    132   132  132  132
unique   57    3   39    3   73   92  106   47   66     31     1    3    3
top     0.5    0   62    0    ?    ?    ?   14    1  0.857  name    2    ?
freq      6   88   10  107    8   15   11   21   42     29   132   86   58

In [6]:
data.shape

(132, 13)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 13 columns):
0     132 non-null object
1     132 non-null object
2     132 non-null object
3     132 non-null object
4     132 non-null object
5     132 non-null object
6     132 non-null object
7     132 non-null object
8     132 non-null object
9     132 non-null object
10    132 non-null object
11    132 non-null object
12    132 non-null object
dtypes: object(13)
memory usage: 13.5+ KB

In [8]:
data = data.drop([10],axis=1)
# del(data[10])

In [9]:
data = data[(data[11]!='?') & (data[12]!='?')]

In [10]:
data = data[data!='?']
data = data.dropna()

In [11]:
data.shape

(61, 12)

In [12]:
from sklearn import neighbors

In [20]:
x = data.values[:,:-1]
y = data.values[:,-1]

In [29]:
n_neighbors = 13
clf = neighbors.KNeighborsClassifier(n_neighbors)

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)
clf.fit(x_train,y_train)
y_predicted = clf.predict(x_test)
y_predicted

array(['0', '0', '0', '1', '0', '0', '0', '1', '0', '0', '0', '1', '1',
       '0', '1', '1', '0', '0', '0'], dtype=object)

In [32]:
from sklearn.metrics import classification_report

In [33]:
print(classification_report(y_test,y_predicted))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00        13
          1       1.00      1.00      1.00         6

avg / total       1.00      1.00      1.00        19